<!-- Road Map Road Map Road Map
     <Head>
        __google fonts import
        __materialize css linking
        __my custom css linking
    </Head>

    <Body>
        __NavBar
        __First row    [search parameters filter]
        __Second row   [Header to catalogue of business]
        __third row     []
        __fourth row    []
        __fifth row     [footer]
        __javascript
    </Body
   -->





<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Permit me bring in my own styles.css-->
    <link type="text/css" rel="stylesheet" href="./public/css/styles.css" media="screen,projection" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./public/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="pink lighten-5">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class=" Sofia brand-logo deep-orange-text text-lighten-2 logo">WEconnect</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down main-lettering">
                <li>
                    <a href="#!" class="deep-orange-text text-lighten-2">Sign In</a>
                </li>
                <li>
                    <a href="#!" class="deep-orange-text text-lighten-2 ">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--   First row ##search parameters deep-orange lighten-4  -->
    <div class="row pink lighten-5">
        <div class="col l12 body-font center-align">
            <h3 class="">Get the Best of Professionals for your next Project!! </h3>
            <h5 class="bottom-gap"> Define your search parameters to meet your specific needs</h5>
        </div>
        <div class="row underlined bottom-pad">
            <div class="col m6 l3 offset-l2">
                <select>
                    <option value="" disabled selected>location</option>
                    <option value="1">Lagos</option>
                    <option value="2">Abuja</option>
                    <option value="3">Rivers</option>
                    <option value="3">Somewhere</option>
                </select>
                <label>Materialize Select</label>
            </div>
            <div class="col m6 l3 ">
                <select>
                    <option value="" disabled selected>Capicity</option>
                    <option value="1">Leather Work</option>
                    <option value="2">Plumbing</option>
                    <option value="3">Photography</option>
                    <option value="3">Medicals</option>
                </select>
                <label>Category</label>
            </div>
            <div class="col m4 l3  center">
                <a class=" deep-orange-text text-lighten-2 blue-grey darken-4 btn">
                    <i class="left material-icons">search</i> Search </a>
            </div>
        </div>
    </div>


    <!-- 2nd Row  ##contains Heading to catalogue of businesses -->
    <div class="row head-font">
        <div class="col s12">
            <h2 class="sofia center-align  main-lettering">Our Collection Of Businesses and professionals for You! </h2>
        </div>
    </div>

    <!-- 3rd row  ##contains business catalogue cards -->
    <div class="row body-font cushion">
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/cloth.jpg" />
            </div>
            <div class="row card-title center">
                Cutie dresses
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Ikorodu, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/camera.jpg" />
            </div>
            <div class="row card-title">
                Smarts Photos
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Anthony, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/suit.jpg" />
            </div>
            <div class="row card-title">
                Just Suits
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Anthony, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/hair.jpg" />
            </div>
            <div class="row card-title">
                Beauty Saloon
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Ikorodu, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/cloth.jpg" />
            </div>
            <div class="row card-title">
                Classy Botique
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Ikoyi, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/food.jpg" />
            </div>
            <div class="row card-title">
                Tasty
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Baba, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/capenter.jpg" />
            </div>
            <div class="row card-title">
                Jonny Carpentry
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Ojota, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/cameras.jpg" />
            </div>
            <div class="row card-title">
                Clicks
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Anthony, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->
        <div class="col l2 m3 s6 business-card">
            <div class="row card-img ">
                <img class="responsive-img" src="./public/images/camera.jpg" />
            </div>
            <div class="row card-title">
                Smarts Photos
            </div>
            <div class="row">
                <div class="">
                    <h6 class="card-location center">
                        <i class="tiny material-icons">location_on</i>
                        Oshodi, Lagos</h6>
                </div>
                <div class="card-button centre">
                    <button> View Profile</button>
                </div>
            </div>
        </div>
        <!-- end of coloumn -->

    </div>
    <!-- end of Row -->

    <div class="row">
        <ul class="pagination center-align ">
            <li class="disabled ">
                <a href="#!">
                    <i class="material-icons ">chevron_left</i>
                </a>
            </li>
            <li class="active blue-grey darken-4">
                <a class="pink-text text-ligthen-3" href="#!">1</a>
            </li>
            <li class="waves-effect ">
                <a href="#!">2</a>
            </li>
            <li class="waves-effect">
                <a href="#!">3</a>
            </li>
            <li class="waves-effect ">
                <a href="#!">4</a>
            </li>
            <li class="waves-effect">
                <a href="#!">5</a>
            </li>
            <li class="waves-effect">
                <a href="#!">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Footer -->
    <footer class="page-footer blue-grey darken-4 body-font">
        <div class="container ">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="pink-text logo Sofia">WEconnect</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright pink-text text-lighten-1">
            <div class="container">
                © 2018 Andela, Lagos Nigeria
                <a class="pink-text text-lighten-1 right" href="#!">Andela BootCamp Project Cycle XXX</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="./public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
</body>

</html>