<!-- Road Map Road Map Road Map
     <Head>
        __google fonts import
        __my custom css linking
        __materialize css linking
    </Head>

    <Body>
        __NavBar
        __First row    [Business picture, Title, slogan, and Address of business]
        __Second row   [Business Information && Business offers]
        __third row    [Users comments and message box]
        __fourth row   [footer]
        __javascript
    </Body
   -->

<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- my own styles.css-->
    <link type="text/css" rel="stylesheet" href="./public/CSS/styles.css" media="screen,projection" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./public/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobiledeep-orange-text text-lighten-2-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="">
    <nav>
        <div class="nav-wrapper blue-grey darken-4 text-lighten-3">
            <a href="#" class=" Sofia brand-logo  logo pink-text text-lighten-3">WEconnect</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons"> more </i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down head-font">
                <li>
                    <a href="signin.html" class="pink-text text-lighten-3">Sign In</a>
                </li>
                <li>
                    <a href="signup.html" class="pink-text text-lighten-3">Sign Up</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="signin.html" class="pink-text text-lighten-3">Sign In</a>
                </li>
                <li>
                    <a href="signup.html" class="pink-text text-lighten-3">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- first row contains Business picture, Title, slogan, and Address of business -->
    <div class="row dashboard head-font">
        <div class="col offset-s3 s6 l2 m2 logo center-align">
            <img class="responsive-img left" src="./public/images/cameras.jpg" />
        </div>

        <div class="col s12 m7 l8   center-align">
            <h3 class="pink-text">Cuttie Dresses </h3>
            <h5 class="pink-text"> No.25 Helloworld Street off EcmaScript Road, Lagos Nigeria. </h5>
            <h6 class="Sofia blue-grey-text text-darken-4">
                <p>
                    <em> We offer you the very best to make you look pretty nice!! </em>
                </p>
            </h6>
            <div class="row">
                <div class="col s6">
                    <h6 class="right">
                        <i class="material-icons prefix small blue-grey-text text-darken-3" id="icon-text">phone</i>
                        <span>12345678910 </span>
                    </h6>
                </div>
                <div class="col s6">
                    <h6 class="left">
                        <i class="material-icons prefix small blue-grey-text text-darken-3" id="icon-text">mail</i>
                        <span>foobar@bars.com</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <!-- Second row ## Business Information && Business offers-->
    <div class="row top-pad body-font">
        <div class="col s10 offset-s1  ">
            <h3 class="center pink-text text-darken-1"> About Us</h3>
            <p class=''>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est Lorem ipsum dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum
            </p>
        </div>
        <div class="col s10 offset-s1 ">
            <h3 class="center pink-text text-darken-1"> Core Values and Policy</h3>
            <p class="">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
    </div>
    <!-- end of row -->

    <!--Third row ##contains Users comments and message box -->
    <div class="row body-font container">
        <div class="col s10 offset-s1">
            <h4 class="left-align pink-text"> What Our Clents are saying</h4>
            <form>
                <div class="thin-borders">
                    <div class="input-field">
                        <textarea id="textarea1" class="materialize-textarea" data-length="100" placeholder="Your message"></textarea>
                        <label for="textarea1"></label>
                    </div>
                </div>
                <a class="btn pink darken-4 white-text "> Submit </a>
            </form>
            <ul>
                <li>
                    <div class="row black-text grey lighten-2">
                        <p class="col s12">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequateiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <h6 class="col s6 left-align pink-text"> John Doe</h6>
                        <h6 class="col s6 right-align pink-text"> 01-05-2018</h6>
                    </div>
                </li>
                <li>
                    <div class="row black-text grey lighten-2">
                        <p class="col s12">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod"Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequateiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <h6 class="col s6 left-align pink-text"> John Doe</h6>
                        <h6 class="col s6 right-align pink-text"> 01-05-2018</h6>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s10 offset-s1 m5 offset-m1 l4 offset-l1">
            <h4 class="pink-text"> Contact Us</h4>
            <div class="row">
                <div class="col s6 m3">
                    <a href=#!>
                        <img class="responsive-img left" src="./public/images/facebook.png" />
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href=#!>
                        <img class="responsive-img left" src="./public/images/linkedin.png" />
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href=# !>
                        <img class="responsive-img left" src="./public/images/twitter.png" />
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href=# !>
                        <img class="responsive-img left" src="./public/images/whatsapp.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer blue-grey darken-4 body-font">
        <div class="contasiner">
            <div class="row">
                <div class="col m3 s12">
                    <h5 class="pink-text text-lighten-3 Sofia">WEconnect</h5>
                </div>
                <div class="col m4 s12">
                    <a class=" pink-text text-lighten-3 right">© 2018 Andela, Lagos Nigeria</a>
                </div>
                <div class="col m4 s12">
                    <a class="pink-text text-lighten-3 right">Andela Bootcamp project cycle xxx</a>
                </div>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="./public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
</body>

</html>