<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>WEconnect</title>

    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="public/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="public/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class=" Sofia brand-logo  logo pink-text">WEconnect</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down head-font">
                <li>
                    <a href="#!" class="pink-text">Sign In</a>
                </li>
                <li>
                    <a href="#!" class="pink-text">Sign Up</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#!" class="pink-text">Sign In</a>
                </li>
                <li>
                    <a href="#!" class="pink-text">Sign Up</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="center banner">
        <div class="row">
            <div class="col s8 offset-s2 hide-on-med-and-up banner-image">
                <div class="row">
                    <h1 class="Sofia"> WEconnect!</h1>
                </div>
                <img class="responsive-img" src="./public/images/profession.jpg" />
            </div>
            <div class="col s8 offset-s2 m4  offset-m1  banner-text">
                <h2> Make Your Business known and get Connected today!</h2>
                <p> WEconnect brings clients and businesses together!</p>
                <button class="btn btn-large pink black-text "> Sign Up</button>
            </div>

            <div class="col hide-on-small-only m6 offset-l1 banner-image">
                <div class="row">
                    <h1 class="Sofia"> WEconnect!</h1>
                </div>
                <img class="responsive-img" src="./public/images/profession.jpg" />
            </div>
        </div>
    </div>







    <div class="container ">
        <div class="section row s12">
            <h4 class="center category-header"> Checkout the our Categories of businesses</h4>
            <div class="category-tag col s4 l2">
                <h6> Commerce</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Fashion</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Music</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Catering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Entertainment</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Technology</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Photography</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Graphics</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Engineering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Commerce</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Fashion</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Music</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Catering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Entertainment</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Technology</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Photography</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Graphics</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Engineering</h6>

            </div>
            <div class="category-tag col s4 l2">
                <h6> Fashion</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Music</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Catering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Entertainment</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Technology</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Photography</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Graphics</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Engineering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Commerce</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Fashion</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Music</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Catering</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Entertainment</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Technology</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Photography</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Graphics</h6>
            </div>
            <div class="category-tag col s4 l2">
                <h6> Engineering</h6>

            </div>
        </div>
    </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer blue-grey darken-4">
        <div class="container ">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="pink-text logo Sofia">WEconnect</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright pink-text text-lighten-1">
            <div class="container">
                © 2018 Andela, Lagos Nigeria
                <a class="pink-text text-lighten-1 right" href="#!">Andela BootCamp Project Cycle XXX</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="public/jquery/js/jquery.min.js"></script>
    <script src="public/materialize/js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>