<!-- Road Map Road Map Road Map
     <Head>
        __google fonts import
        __materialize css linking
        __my custom css linking
    </Head>

    <Body>
        __NavBar
        __First row    [ Name, profile picture and contact of user]
        __Second row   [User account settings && Business outfit managment]
        __third row     [footer]
        __javascript
    </Body
   -->

<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Link up custom styles.css-->
    <link type="text/css" rel="stylesheet" href="./public/CSS/styles.css" media="screen,projection" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="./public/materialize/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="">
    <nav>
        <div class="nav-wrapper blue-grey darken-4 text-lighten-3">
            <a href="index.html" class=" Sofia brand-logo  logo pink-text text-lighten-4">WEconnect</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons"> more </i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down head-font">
                <li>
                    <a href="signin.html" class="pink-text text-lighten-4">Sign In</a>
                </li>
                <li>
                    <a href="signup.html" class="pink-text text-lighten-4">Sign Up</a>
                </li>
                <li>
                    <a href="user_profile.html" class="pink-text text-lighten-4">My Profile</a>
                </li>
                <li>
                    <a href="all_businesses.html" class="pink-text text-lighten-4">All</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="signin.html" class="pink-text text-lighten-4">Sign In</a>
                </li>
                <li>
                    <a href="signup.html" class="pink-text text-lighten-4">Sign Up</a>
                </li>
                <li>
                    <a href="user_profile.html" class="pink-text text-lighten-4">My Profile</a>
                </li>
                <li>
                    <a href="all_businesses.html" class="pink-text text-lighten-4">All</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <!-- first row contains Name, profile picture and contact of user -->
        <div class="row head-font dashboard">
            <div class="col s9 m6 l4 logo pink-text center-align">
                <h2 class="Sofia"> Hi, John Doe </h2>
            </div>
            <div class="col s3 m2 offset-m4 l2 offset-l6 ">
                <img class="responsive-img left" src="./public/images/cameras.jpg" />
            </div>
        </div>
        <!-- Second row ## User account settings && Business outfit managment -->
        <div class="row slim-container top-pad">
            <div class="row">
                <div class="col s6 left">
                    <a href="register_business.html" class="green lighten-2 black-text btn" type="button"> Add new Business
                    </a>
                </div>
                <div class="col s6">
                    <a href="#!" class="right green lighten-2 black-text btn" type="button"> Update Profile
                    </a>
                </div>
            </div>
            <!-- end of column -->
            <div class="col s12  l10 offset-l1">
                <div class="row">
                    <div class="col s12">
                        <h4 class="body-font center grey-text">
                            Feel free to manage your business outfits!
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2 offset-m1 m4 l3">
                            <div class="row">
                                <div class="col s12">
                                    <div class="card small bottom-pad grey lighten-4">
                                        <div class="card-image">
                                            <img src="./public/images/suit.jpg">
                                        </div>
                                        <div class="card-content">
                                            <h6 class="center green-text text-darken-4"> Just Suit and Tie International limited</h6>
                                        </div>
                                        <h6 class="card-button cursor white">
                                            <div class="center grey-text text-darken-2">Manage</div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of coloumn -->
                        <div class="col s8 offset-s2 offset-m1 m4 l3">
                            <div class="row">
                                <div class="col s12">
                                    <div class="card small bottom-pad grey lighten-4">
                                        <div class="card-image">
                                            <img src="./public/images/cameras.jpg">
                                        </div>
                                        <div class="card-content">
                                                <h6 class="center green-text text-darken-4"> Just Suit </h6>
                                        </div>
                                        <h6 class="card-button cursor white">
                                             <div class="center grey-text text-darken-2">Manage</div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of coloumn -->
                        <div class="col s8 offset-s2 offset-m1 m4 l3">
                            <div class="row">
                                <div class="col s12">
                                    <div class="card small  bottom-pad grey lighten-4">
                                        <div class="card-image">
                                            <img src="./public/images/suit.jpg">
                                        </div>
                                        <div class="card-content">
                                            <h6 class="center green-text text-darken-4"> Just Suit </h6>
                                        </div>
                                        <h6 class="card-button cursor white">
                                            <div class="center grey-text text-darken-2">Manage</div>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of coloumn -->

                        <!-- end of coloumn -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end of row -->
    <!-- Footer -->
    <footer class="page-footer blue-grey darken-4 body-font">
        <div class="contasiner">
            <div class="row">
                <div class="col m3 s12">
                    <h5 class="pink-text text-lighten-4 Sofia">WEconnect</h5>
                </div>
                <div class="col m4 s12">
                    <a class=" pink-text text-lighten-4 right">© 2018 Andela, Lagos Nigeria</a>
                </div>
                <div class="col m4 s12">
                    <a class="pink-text text-lighten-4 right">Andela Bootcamp project cycle xxx</a>
                </div>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="./public/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./public/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
</body>

</html>