/*.banner {
    background-image: url(../images/connect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.banner {
    margin-bottom:4em;
}
.banner-text {
    margin-top: 2em;
    background-color: #03030f;
    border-radius: 2rem
}
.banner-image {
    margin-top: 2em;
    color:#dd0a5b;
}

.banner h2 {
    padding-top: 1em;
    padding-bottom: 3em;
    color:#dd0a5b;
    font-family: 'Abhaya Libre';
}

.banner p {
    color: #ff609d;
    font-family: 'Sofia';
}

.banner button {
    margin-bottom: 3em;
    color: #03031d;
    background-color: #aeaece;
    font-family: 'Abhaya Libre';
}

.nav-wrapper {
    background-color: #050107;
}

.category-tag h6{
    border: 1px solid #f811a0;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}

.category-tag h6:hover{
    background-color: #190129;
    color: #aeaece
}
.category-header {
    color:#e64c87;
    border-bottom: 2px solid #190129;
    padding: 1em;
    margin-bottom: 1em;
}


/* --------- fonts ------------- */
.Sofia{
    font-family: 'Sofia';
  }

.head-font{
    font-family: 'Abhaya Libre';
  }
  
  .body-font{
    font-family: 'Open Sans';
  }
  /* --------- paddings ------------- */
  .bottom-gap {
    margin-bottom: 3em;
  }
  .bottom-pad {
    padding-bottom: 3em;
  }
  
  .underlined {
    border-bottom: 3px solid #03030f;
  }
  .cushion {
      width: 90%
  }
  
  /* --------- colour schemes ------------- */
  .pink-background {
      background-color: deep-orange darken-4
  }

  .purple-background {
    background-color: #190129
  }

  /******* Card  *******/
  .business-card {
     border: 3px solid #960756;
     background-color: #050107;
     /*border-radius:2em;*/
     margin: 0.5em;
  }
  .card-location {
      border-bottom: 1px solid #f1f1f1;
      padding-bottom: 0.5em;
      color: #ff0e6a;
  }
  .card-email {
      background-color: #ffc6de;
    padding-bottom: 0.5em;
}
.card-phone {
    background-color: #ff66ba;
  padding-bottom: 0.5em;
}
  .card-title {
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #ffffff;
}
.card-img {
    font-weight: bolder;
    padding: 1em;
    
}
.card-button {
    width: 80%;
    margin: 0 auto;
}

/* --------- coloue schemes ------------- */
.dashboard {
    padding:1em 0 3em 0;
    border-bottom:2px solid #050107;
}
input::-webkit-input-placeholder {
    color: rgb(0, 0, 0) !important;
    }
    
    textarea::-webkit-input-placeholder {
        color: rgb(0, 0, 0) !important;
        }
/****** borders  *******/
.all-borders {
    border: 1px solid #050107;
    padding: 0 1em;
    margin-bottom: 0.5em;
}
.thin-border {
    border: 1px solid #ec2592;
    background-color: #03030f;
    color:#f5cddc
}

.form {
    background-color: #03030f;
}
