/**** landing banner styles***/
/**** landing banner styles***/
.banner {
    margin-bottom:2em;
}
.banner-text {
    margin-top: -1em;
    border-radius: 2rem
}
.banner-image {
    margin-top: 0;
    color:#dd0a5b;
}
.banner h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin: 1em 0 0 0;
    color:#dd0a5b;
}
.banner button {
    margin-bottom: 3em;
    color: #03031d;
    background-color: #aeaece;
    font-family: 'Abhaya Libre';
}
.nav-wrapper, #nav-mobile {
    /*background-color: #050107;*/
}

/**** category styles ****/
/**** category styles ****/
.category-tag h6{
    border: 1px solid #27b35c;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
}

.category-tag h6:hover{
    background-color: #ffe7cc;
    color: #3e4141
}
.category-header {
    border-bottom: 2px solid #dbe9dc;
    padding: 1em;
    margin-bottom: 1em;
}


/* --------- fonts ------------- */
/* --------- fonts ------------- */
.Sofia{
    font-family: 'Sofia';
  }
.head-font{
    font-family: 'Abhaya Libre';
  } 
  .body-font{
    font-family: 'Open Sans';
  }


/* -----reuseable styles --------- */
/* -----reuseable styles --------- */
 #icon-text {
    margin-top: 20px;
 }
 .padded-body {
     padding: 2em;
     border: 1px solid #e6448f;
 }
 .reg-body {
    padding: 5px 20px;
    border: 1px solid #332f31;
    border-radius: 1em
}
 .form-label {
    font-weight: bolder;
    color:#353535e7;
    font-size: 1.2em;
}
  .bottom-gap {
    margin-bottom: 3em;
  }
  .top-gap {
    margin-top: 1em;
  }
  .bottom-pad {
    padding-bottom: 3em;
  }
  .top-pad {
    padding-bottom: 3em;
  }
  .bottom-pad-much {
    padding-bottom: 5em;
  }
  .underlined {
    border-bottom: 3px solid #03030f;
  }
  .cushion {
      width: 90%
  }
  .left-gap {
      margin-left:6em;
  }
  .all-borders {
    border: 1px solid #050107;
    padding: 0 1em;
    margin-bottom: 0.5em;
}
.thin-border {
    border: 1px solid #ec2592;
}
.business-form {
    border: 1px solid #ec2592;
    margin-top: 3em;
    padding: 0 4em;
    border-radius: 10px;
}
.thin-black-border {
    border: 1px solid #220f1a;
}
.dashboard {
    padding:1em 0 1em 0;
    border-bottom:2px solid #050107;
}
  
/* --------- colour schemes ------------- */
/* --------- colour schemes ------------- */
  .purple-background {
    background-color: #190129
  }
  
  /******* Card  *******/
  /******* Card  *******/
  .business-card {
     border: 1px solid #960756;
     background-color: #050107;
     /*border-radius:2em;*/
     margin: 0.5em;
   }
   .card-location {
    padding-bottom: 0.5em;
    color: #fff
}
.card-title {
  font-weight: bolder;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f1f1f1;
  color: #ffffff;
}
.cursor{
    cursor: pointer;
}
.card-img {
    font-weight: bolder;
    padding: 1em;    
}
.card-button {
    width: 40%;
    margin: 0 auto;
    border: 2px solid #2bb460;
    border-radius: 4px;
    padding: 5px 0;
}
main {
    min-height: 100vh;
}

#short-forms .input-field {
    height: 3em !important;
    font-size: 14px !important; 
    }

/** Changing the color of placeholder ***/
/** Changing the color of placeholder ***/
input::-webkit-input-placeholder {
    color: rgb(0, 0, 0) !important;
    }
    




