/**** landing banner styles***/
/**** landing banner styles***/
.banner {
    margin-bottom:4em;
}
.banner-text {
    margin-top: -5px;
    border-radius: 2rem;
    box-shadow: 2px 2px 0 0 #530734;
}
.banner-image {
    margin-top: 0;
    color:#dd0a5b;
}
.banner h1 {
    padding-top: 0;
    padding-bottom: 1rem;
    margin: 1em 0 0 0;
    color:#dd0a5b;
}
.banner button:hover {
    color: #fdfffd !important;
    background-color:#045a12 !important;
    border: 3px solid #045a12 !important;
}
.banner button {
    margin-bottom: 3em;
    color: #03031d;
    background-color: #aeaece;
}
.nav-wrapper, #nav-mobile {
    /*background-color: #050107;*/
}

/**** category styles ****/
/**** category styles ****/

.category-header {
    border-bottom: 2px solid #190129;
    padding: 1em;
    margin-bottom: 1em;
}


/* --------- fonts ------------- */
/* --------- fonts ------------- */
.Sofia{
    font-family: 'Sofia';
  }
.head-font{
    font-family: 'Abhaya Libre';
  } 
  .body-font{
    font-family: 'Open Sans';
  }


/* -----reuseable styles --------- */
/* -----reuseable styles --------- */
.bold-font {
    font-weight: bold;
}

.small-font {
    font-size: 12px!important;
}

.card-button {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #2bb460;
    border-radius: 4px;
    padding: 5px 3px;
    color: rgb(122, 11, 65);
}
.card-button:hover {
    width: 41%;
    margin: 0 auto;
    border: 1px solid  #570e30;
    border-radius: 4px;
    padding: 4px 3px;
    color: rgb(45, 112, 45);
}
.card-name {
    color: rgb(100, 11, 63);
}
.card-name:hover {
    text-decoration: underline;
    text-decoration-color: #045a12
}
.card-padding {
    padding: 0 5rem;
}
.cursor{
    cursor: pointer;
}
 #icon-text {
    margin-top: 20px;
 }
 .padded-body {
     padding: 2em;
     border: 1px solid #13532e;
     line-height: 2em;
 }
 .business-icons {
     margin-top: 1rem;
     
 }
 .business-contact {
    padding: 1em;
    border-bottom: 1px solid rgb(219, 217, 217);
 }
 .business-body {
    padding: 2em;
    line-height: 2.5em;
    font-size: 16px;
    box-shadow: 1px 1px rgb(204, 204, 204);
}
.business-contact-body {
    padding: 2em;
    line-height: 2em;
    box-shadow: 1px 1px rgb(206, 206, 206);
}
 .form-body {
    padding: 1em 3em;
    border: 1px solid #13532e;
    border-radius: 15px;
}
 .reg-body {
    padding: 5px 20px;
    border: 1px solid #332f31;
    border-radius: 1em
}
  .bottom-gap {
    margin-bottom: 3em;
  }
  .mid-bottom-gap {
    margin-bottom: 1em;
  }
  .no-bottom-gap {
    margin-bottom: 0;
  }
  .no-top-gap {
    margin-top: 0;
  }
  .top-gap-much {
      margin-top: 4rem;
  }
  .top-gap {
    margin-top: 1em;
  }
  .push-down {
    margin-top: 2rem;
  }
  .bottom-pad {
    padding-bottom: 3em;
  }
  .bottom-pad-small {
    padding-bottom: 1em;
  }
  .top-pad {
    padding-top: 2rem;
  }
 .large-input {
    border: 1px solid #050107!important;
    padding: 0 1em!important;
    min-height: 200px!important;
    line-height: 30px!important;
  }
  .medium-input{
    border: 1px solid #050107!important;
    padding: 1em 1em!important;
    min-height: 80px!important;
    line-height: 30px!important;
    /* padding: 400px; */
  }
  .bottom-pad-much {
    padding-bottom: 5em;
  }
  .top-pad-much {
    padding-top: 5em;
  }
  .left-gap {
    margin-left:6rem;
}
.mid-left-gap {
  margin-left:5rem;
}
.right-gap {
  margin-right:6rem;
}
  .underlined {
    border-bottom: 3px solid #6c6c72;
  }
  .cushion {
      width: 90%
  }
  
  .all-borders {
    border: 1px solid #050107!important;
    padding: 0 1em!important;
    height: 2.5rem;
}
.select-borders {
    border: 1px solid #520c37!important;
    padding: 0 1em!important;
    margin-bottom: 0.5em!important;
    height: 36px!important;
    margin: -1em;
    color: #186322;
    border-radius: 4px;
}
.tight-border {
    border: 1px solid #050107!important;
    padding: 0!important;
    margin-bottom: 0!important;
}
.padded-border {
    border: 1px solid #050107!important;
    padding: 10px 10px!important;
    border-radius: 4px;
}
.thin-border {
    border: 1px solid #1aa807;
}
.green-border {
    color:hsl(323, 57%, 22%);
    background-color:hsl(0, 0%, 98%);
    border-radius: 4px;
    padding: 4px 8px;
    box-shadow: 2px 1px 6px hsl(120, 21%, 20%)
}
.business-form {
    border: 1px solid #045a12;
    margin-top: 2em;
    background-color: #f8f7f7;
    box-shadow: 1px 1px 1px #868686;

}
.business-hero {
    margin-top: 6rem;
}
.thin-black-border {
    border: 1px solid #220f1a;
}
.dashboard {
    padding:1em 0 1em 0;
    border-bottom: 1px solid#610a44
}
  
/* --------- colour schemes ------------- */
/* --------- colour schemes ------------- */
  .purple-background {
    background-color: #190129
  }
  
  /******* Card  *******/
  /******* Card  *******/
  .business-card {
     border: 2px solid #49e96b;
     
     /*border-radius:2em;*/
     margin: 0.5em;
   }
  .card-location {
      padding-bottom: 0.5em;   
  }

  .card-title {
    font-weight: bolder;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #2ad624;
    
}
.card-img {
    font-weight: bolder;
    padding: 1em;    
}

main {
    min-height: 100vh;
}

#short-forms .input-field {
    height: 3em !important;
    font-size: 14px !important; 
    }
    .form-label {
        color:  hsl(120, 15%, 14%);
        font-size: 1.2rem;
    }
    .form-heading {
        color: hsl(323, 57%, 22%);
    }
    .form-input {
    border-radius: 4px !important;
    padding : 0 0 0 2rem  !important;
}
.form-jacket {
    padding : 1rem 4em !important;
    background-color: hsl(0, 0%, 97%) !important;
    border-radius: 4px;
    margin-top: 3rem;
    opacity: 0.9;
}
.delete-form {
    padding : 1rem 4em !important;
    background-color: hsl(0, 0%, 89%) !important;
    margin-top: 3rem;
    border-radius:5px;

}
.form-btn {
    color:hsl(120, 80%, 94%) !important;;
    background-color: hsl(323, 90%, 33%)!important;
}
.optionals {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.delete-form-btn {
    color:hsl(120, 80%, 94%) !important;;
    background-color: hsl(355, 83%, 43%) !important;
}

label {
    color: #000 !important;
    font-size: 1.2rem !important;
}
.error-box {
    background-color: hsl(109, 65%, 97%);
    color: hsl(108, 34%, 15%);
    padding: 2rem; 
    border: 1px solid rgb(255, 157, 157); 
    border-radius: 1rem; 
}
.form-response {
    color: rgb(114, 11, 11);
    padding-left: 10%;
}

.newuser {
    color: hsl(120, 41%, 22%);
}

.welcome {
    border: 3px solid hsl(120, 41%, 22%);
    background-color: #ffffff;
    color:#9a9b9a;
    padding: 2rem 4rem;
    line-height: 3rem;
    border-radius: 3rem;
}

.welcome-btn {
    margin-top: 3rem;
    color: hsl(120, 32%, 82%) !important;
    background-color: hsl(335, 51%, 45%) !important;
    padding: 0.5rem 1rem !important;
    font-size: 3rem !important;
    border-radius: 5px;
    cursor: pointer;
}
.welcome-btn:hover {
    background-color: hsl(120, 83%, 16%) !important;
    padding: 0.5rem 0.8rem !important;
}

.instruction {
    line-height: 1.5rem;
    color: hsl(120, 1%, 25%)
}

.views-box {
    border: 1px solid #2a8626;
    border-radius: 10px;
    box-shadow: 1px 1px #424e42;
    background-color: hsl(120, 7%, 98%);
    padding: 4px;
}
.views-box:hover {
    background-color: hsl(340, 11%, 95%);
    border: 1px solid #b6307e;
}
.delete-note {
    color: hsl(120, 4%, 57%);
    font-size: 18px;
}
/* .nav-color {
    background-color: hsl(123, 37%, 43%)!important;
} */

/** Changing tmaterialize defaults ***/
 input::-webkit-input-placeholder {
    color: hsl(120, 0%, 70%) !important;
    }
 input {
    border-bottom: none!important
 }   
 input:focus {
    border-bottom: none!important;
    box-shadow: none!important;
    }
 textarea {
    border-bottom: none!important
     }   
 textarea:focus {
    border-bottom: none!important;
    box-shadow: none!important;
    }
  


/******* Background Images *******/
/******* Background Images  *******/

#signinPage, #signupPage, #profileUpdate{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
    background-image: url('../assets/images/business.jpg');
    background-size: cover;
}

#businessReport{
    background-image: url('../assets/images/growth.png');
    background-size: cover;
}
#manage{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.05);
}

/********** Category Images *********/
.category-image {
    max-height: 15rem;
}
.category-image:hover {
    border: 5px solid rgb(109, 12, 57);
}

/**** Hover changes ****/ 
.faint-pink-hover:hover {
    background-color: rgb(238, 238, 238);
    
}
.business-card-label {
    color: rgb(18, 71, 18);
    font-weight: bold;
    margin-bottom: 0.3em;
}
.business-card-label:hover {
    color: rgb(151, 13, 98);
    font-weight: bold;
    margin-bottom: 0.3em;
    text-decoration: underline;
}
.pink-margin-hover:hover {
    border: 1px solid rgb(238, 134, 194);
}
.auth-hover {
    margin: 4px;
}
.auth-hover:hover {
    padding: 0 2px;
    border-bottom: 1px solid rgb(212, 74, 155);
    margin: 10px;
    color: rgb(18, 71, 18);
}
.form-btn:hover {
    color:  hsl(115, 46%, 95%) !important;  
    background-color: hsl(120, 31%, 33%)!important;  
}
.btn-danger {
    color: red;
    background-color: #dbe2db;
}
.btn-danger:hover {
    color: rgb(223, 219, 219);
    background-color: #f03333;
}
.btn-edit {
    color: rgb(33, 129, 46);
    background-color: #ffffff;
}
.btn-edit:hover {
    color: white;
    background-color: #2c743b;
}
.pagination li.active {
    background-color: #870f4f;
}

.instructions {
    font-size: 18px!important;
    margin-bottom: 1rem;
    color: rgb(100, 104, 100)

}